@model EditViewModel
@{  
    ViewData["title"] = "Student page";
    EditViewModel editViewModel =  Model;
    Student student = editViewModel.Student;
    List<Faculty> faculties = editViewModel.Faculties;
    
}
<h3>Add new student</h3>

<form action="/student/SaveStudent" method="POST">
    <table>
        <tr class="mb-3">
            <td>Id</td>
            <td>
                <input type="number" readonly="readonly" name="id" value="@student.Id">
            </td>
        </tr>
        <tr class="mb-3">
            <td>Name</td>
            <td>
                <input type="text" name="name" value="@student.Name">
            </td>
        </tr>
        <tr class="mb-3">
            <td>Khoa</td>
            <td>
                <select name="facultyId">
                    <option value="@student.FacultyId" selected>
                            @student.Faculty.Name
                    </option>
                    @foreach (var f in faculties)
                    {
                        <option value="@f.Id">
                            @f.Name
                        </option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Age</td>
            <td>
                <input type="text" name="age" value="@student.Age">
            </td>
        </tr>
        <tr>
            <td>Address</td>
            <td>
                <input type="text" name="address" value="@student.Address">
            </td>
        </tr>
    </table>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>

</form>